<header>
  <div class="header-container">
    <img src="/assets/UPBNEWS.png" alt="UPB News Logo" class="logo">
    <nav class="menu">
      <a href="/projects/home" class="menu-link active">Home</a>
      <a href="/projects/v1.0/list" class="menu-link">Proyectos</a>
    </nav>
  </div>
</header>
