<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Error</title>
  <link rel="stylesheet" href="/css/body.css">
  <link rel="stylesheet" href="/css/404.css">
</head>

<body>
  <%- include('menu') %>
  
  <div class="error-404-container">
  <img src="/assets/404.png" alt="404">
</div>

  
  <%- include('footer') %>
</body>


</html>