<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
  <header>
    <div class="header-container">
      <img src="/assets/UPBNEWS.png" alt="UPB News Logo" class="logo">
      <nav class="menu">
        <a href="/projects/home" class="menu-link">Home</a>
        <a href="/projects/v1.0/list" class="menu-link">Proyectos</a>
      </nav>
    </div>
  </header>
<script src="/js/menu.js"></script>

</body>
</html>
